li{
    color:green;
}
.intro {
    color:blue;
    background-color:yellow;
    font-size:32px;
    font-family: Arial;
    font-style:italic;
    font-weight:800;
}
li strong {
    color:purple;
}
.outro {
    text-transform:uppercase;
    text-decoration:underline;
    letter-spacing: 5px;
}
.creato {
    text-transform:capitalize;
    text-decoration:line-through;
    word-spacing:10px;
}
h2 {
    text-shadow: 1px 5px 4px rgb(199, 30, 199);
    text-align:center;
}
.deleted{
    padding: 5px 5px 5px 5px;
    border-bottom: 3px dotted black;
    line-height: 10.0px;
}
.box {
    border:3px dashed red;
    margin:15px;
    width:30%;
    height:65px;
    border-radius:15px;
    background-image: url('https://img.freepik.com/premium-photo/soccer-field-stadium-grass-close-up-view_488220-9324.jpg');
}
ul{
    list-style-type:square;
}
a {
    text-decoration:none;
}
a:hover {
    background-color:red;
    border:2px solid green;
    text-decoration:underline;
}
body {
    margin: 0;
}
ul2 {
    padding: 0;
    width: 100%;
    margin:15px;
  }
li2 {
    display: inline;
  }
a2 {
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 1%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width:31%;
    color: white;
    background-color: green;
  }
  a2:hover {
    background: blue;
  }
 table {
    width:30%;
 }
 th,td {
    padding:10px;
    text-align:center;
 }
 tr:nth-child(2) {
    background-color: #70bceb;
}
form{ 
    padding:15px;
}
