li{
    color:green;
}
.intro {
    color:blue;
    background-color:yellow;
    font-size:32px;
    font-family: Arial;
    font-style:italic;
    font-weight:800;
}
li strong {
    color:purple;
}
.outro {
    text-transform:uppercase;
    text-decoration:underline;
    letter-spacing: 5px;
}
.creato {
    text-transform:capitalize;
    text-decoration:line-through;
    word-spacing:10px;
}
h2 {
    text-shadow: 1px 5px 4px rgb(199, 30, 199);
    text-align:center;
}
.deleted{
    padding: 5px 5px 5px 5px;
    border-bottom: 3px dotted black;
    line-height: 10.0px;
}
.box {
    border:3px dashed red;
    width:30%;
    height:65px;
    border-radius:15px;
    background-image: url('https://img.freepik.com/premium-photo/soccer-field-stadium-grass-close-up-view_488220-9324.jpg');
}

